*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    text-align: center;
}

h1, h2{
    font-weight: 300px;
    line-height: 1.2;
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style-type: none;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar{
    background: #047aed;
    color: #fff;
    height: 70px;
    padding: 10px;
    border-bottom: 5px solid #000;
    position: fixed;
    width: 100%;
}

.navbar ul{
    display: flex;
   padding : 0 10px;
   margin: 0 10px;
}

.navbar a{
    color: #fff;
    padding: 0 10px;
    margin: 0 10px;
}